<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar Token</title>
</head>
<body>
    <h1>Verificar Token</h1>
    <form id="verifyForm">
        <label for="token">Token:</label>
        <input type="text" id="token" name="token" required>
        <br>
        <input type="button" value="Verificar" onclick="verifyToken()">
    </form>

    <!-- Aquí es mostrarà el missatge de sessió iniciada -->
    <div id="sessionMessage" style="display: none;">
        <h2>Sessió iniciada correctament</h2>
        <!-- Aquí pots mostrar qualsevol altra informació relacionada amb la sessió -->
        <p>Correu electrònic: <span id="email"></span></p>
        <p>Data d'inici de sessió: <span id="loginDate"></span></p>
        <p>Data d'expiració de la sessió: <span id="expiryDate"></span></p>
    </div>

    <script>
        function verifyToken() {
            var token = document.getElementById("token").value;

            var data = {
                "token": token
            };

            fetch("/api/verify", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('La resposta de la xarxa no és vàlida');
                }
                return response.json();
            })
            .then(data => {
                console.log('Èxit:', data);
                // Verificar si el token és vàlid
                if (data.error) {
                    alert(data.error);
                } else {
                    // Mostrar el missatge de sessió iniciada
                    document.getElementById("sessionMessage").style.display = "block";
                    // Omplir la informació de la sessió si està disponible a la resposta JSON
                    if (data.mail) {
                        document.getElementById("email").innerText = data.mail;
                    }
                    if (data.iat) {
                        document.getElementById("loginDate").innerText = new Date(data.iat * 1000).toLocaleString();
                    }
                    if (data.exp) {
                        document.getElementById("expiryDate").innerText = new Date(data.exp * 1000).toLocaleString();
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert("Error en la verificació del token");
            });
        }
    </script>
</body>
</html>


